@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HeaderFooterTpr>
@using Microsoft.Extensions.Configuration;
@using Umbraco.Cms.Core.Strings;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using GovUk.Frontend.AspNetCore.Extensions.HtmlGeneration
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@using GovUk.Frontend.Umbraco.Typography
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common
@inject IConfiguration Configuration
@{
	Layout = null;
    var home = Umbraco.ContentSingleAtXPath("//home");
    var settings = Umbraco.ContentSingleAtXPath("//settings");
    var useTPRstyles = Configuration.GetValue<bool>("TPRStyles");
    var skipLink = string.IsNullOrEmpty(settings?.Value<string>("govukSkipLinkText")) ? "Skip to main content" : settings?.Value<string>("govukSkipLinkText");
    var headerLogoAlt = string.IsNullOrEmpty(settings?.Value<string>("tprHeaderLogoAlt")) ? ComponentGenerator.HeaderLogoDefaultAlt : settings?.Value<string>("tprHeaderLogoAlt");
    var footerLogoAlt = string.IsNullOrEmpty(settings?.Value<string>("tprFooterLogoAlt")) ? ComponentGenerator.FooterLogoDefaultAlt : settings?.Value<string>("tprFooterLogoAlt");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (useTPRstyles)
    {
        <partial name="TPR/Head" />
    }
    else
    {
        <partial name="GOVUK/Head" />
    }
    <title>@Model.PageHeadingOrName()</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="govuk-template__body ">
    <partial name="GOVUK/BodyOpen" />
    <header role="banner">
        @if (useTPRstyles)
        {
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label>@(settings?.Value<string?>("tprHeaderLabel"))</tpr-header-bar-label>
                <tpr-header-bar-content allow-html="true">
                    @(settings?.Value<IHtmlEncodedString>("tprHeaderContent"))
                </tpr-header-bar-content>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1>@(settings?.Value<IHtmlEncodedString>("tprContext1"))</tpr-context-bar-context-1>
                <tpr-context-bar-context-2>@(settings?.Value<IHtmlEncodedString>("tprContext2"))</tpr-context-bar-context-2>
                <tpr-context-bar-context-3>@(settings?.Value<IHtmlEncodedString>("tprContext3"))</tpr-context-bar-context-3>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveHeaderWithNoLabel" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
                <tpr-header-bar-content allow-html="true">
                    @(settings?.Value<IHtmlEncodedString>("tprHeaderContent"))
                </tpr-header-bar-content>
            </tpr-header-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveHeaderWithNoLinks" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
            </tpr-header-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveHeaderWithNoLabelOrLinks" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithContext2ThatWraps" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1>@(settings?.Value<IHtmlEncodedString>("tprContext1"))</tpr-context-bar-context-1>
                <tpr-context-bar-context-2>@Model.Context2TextThatWraps</tpr-context-bar-context-2>
                <tpr-context-bar-context-3>@(settings?.Value<IHtmlEncodedString>("tprContext3"))</tpr-context-bar-context-3>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext1" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-2>@(settings?.Value<IHtmlEncodedString>("tprContext2"))</tpr-context-bar-context-2>
                <tpr-context-bar-context-3>@(settings?.Value<IHtmlEncodedString>("tprContext3"))</tpr-context-bar-context-3>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext2" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar context-1="" context-3="">
                <tpr-context-bar-context-1>@(settings?.Value<IHtmlEncodedString>("tprContext1"))</tpr-context-bar-context-1>
                <tpr-context-bar-context-3>@(settings?.Value<IHtmlEncodedString>("tprContext3"))</tpr-context-bar-context-3>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext3" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1>@(settings?.Value<IHtmlEncodedString>("tprContext1"))</tpr-context-bar-context-1>
                <tpr-context-bar-context-2>@Model.Context2TextThatWraps</tpr-context-bar-context-2>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext1Or2" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1></tpr-context-bar-context-1>
                <tpr-context-bar-context-2></tpr-context-bar-context-2>
                <tpr-context-bar-context-3>@(settings?.Value<IHtmlEncodedString>("tprContext3"))</tpr-context-bar-context-3>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext1Or3" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-2>@Model.Context2TextThatWraps</tpr-context-bar-context-2>
            </tpr-context-bar>

            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.AboveContextBarWithoutContext2Or3" />
            </div>
            <tpr-header-bar>
                <tpr-header-bar-logo alt="@headerLogoAlt" href="@(settings?.Value<Link>("tprHeaderLogoHref")?.Url)" />
                <tpr-header-bar-label></tpr-header-bar-label>
            </tpr-header-bar>
            <tpr-context-bar>
                <tpr-context-bar-context-1>@(settings?.Value<IHtmlEncodedString>("tprContext1"))</tpr-context-bar-context-1>
            </tpr-context-bar>
            <div class="govuk-width-container govuk-!-margin-top-5">
                <partial name="GOVUK/BlockList" model="Model.FinalBlocks" />
            </div>
        }
        else
        {
             <div class="govuk-width-container">
                <partial name="GOVUK/BlockList" model="Model.GovukBlocks" />
            </div>            
        }
    </header>
    <tpr-back-to-top href="#main">@Umbraco.GetDictionaryValue("Back to top")</tpr-back-to-top>
    @if (useTPRstyles)
    {
        <tpr-footer-bar>
            <tpr-footer-bar-logo alt="@footerLogoAlt" href="@(settings?.Value<Link>("tprFooterLogoHref")?.Url)" />
            <tpr-footer-bar-copyright>@(settings?.Value<string>("tprFooterCopyright")?.Replace("{{year}}", DateTimeOffset.UtcNow.Year.ToString()))</tpr-footer-bar-copyright>
            <tpr-footer-bar-content allow-html="true">
                @(settings?.Value<IHtmlEncodedString>("tprFooterContent"))
            </tpr-footer-bar-content>
        </tpr-footer-bar>

        <tpr-footer-bar class="govuk-!-margin-top-5">
            <tpr-footer-bar-logo alt="@footerLogoAlt" href="" />
            <tpr-footer-bar-copyright>@(settings?.Value<string>("tprFooterCopyright")?.Replace("{{year}}", DateTimeOffset.UtcNow.Year.ToString()))</tpr-footer-bar-copyright>
        </tpr-footer-bar>
    }
    <partial name="GOVUK/BodyClosing" />
</body>
</html>