@using GovUk.Frontend.AspNetCore.Extensions.HtmlGeneration
@using GovUk.Frontend.Umbraco.ExampleApp.Models
@using Microsoft.Extensions.Configuration;
@using ThePensionsRegulator.Frontend.Umbraco.Models;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common
@inject UmbracoHelper Umbraco
@inject IConfiguration Configuration 
@{
    var home = Umbraco.ContentSingleAtXPath("//home");
    var settings = Umbraco.ContentSingleAtXPath("//settings");
    var useTPRstyles = Configuration.GetValue<bool>("TPRStyles");
    var headerLockup = new UmbracoTprHeaderLockupModel(settings!) { ShowHeader = useTPRstyles };
    var footerLockup = new UmbracoTprFooterLockupModel(settings!);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (useTPRstyles)
    {
        <partial name="TPR/UmbracoHead" />
    }
    else
    {
        <partial name="GOVUK/UmbracoHead" />
    }
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", required: false)
</head>
<body class="govuk-template__body ">
    <partial name="GOVUK/BodyOpen" />
    <partial name="TPR/TPRHeaderLockup" model="headerLockup" />
    <div class="tpr-main-wrapper">
        <div class="govuk-width-container">
            @RenderSection("language", required: false)
            @if (Context.Request.Path != home?.Url())
            {
                <govuk-back-link href="@home?.Url()">@Umbraco.GetDictionaryValue("Back link")</govuk-back-link>
            }
            <main id="main" class="govuk-main-wrapper">
                @RenderBody()
            </main>
        </div>
    </div>
    @if (useTPRstyles)
    {
        <partial name="TPR/TPRFooterLockup" model="footerLockup" />
    }
    <partial name="TPR/UmbracoBodyClosing" />
    @RenderSection("scripts", required: false)
</body>
@await SmidgeHelper.JsHereAsync(debug: true)
</html>